@font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/ProximaNova/proximanova-light-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../fonts/ProximaNova/proximanova-regular-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/ProximaNova/proximanova-semibold-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/ProximaNova/proximanova-bold-webfont.woff2') format('woff2'),
    url('../fonts/ProximaNova/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.ticket-header {
    height: 60px;
    padding: 25px 30px;
}

.ticket-header h4 {
    color: #8198ac;
    margin: 0px;
    font-family: 'proxima_nova_bold';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.ticket-title {
    background: #f4f9ff;
    padding: 18px 15px 7px;
    margin-right: 0px;
    margin-left: 0px;
}

.ticket-title h3 {
    font-size: 18px;
    font-family: 'proxima_novasemibold';
    color: #849bb3;
    margin: 0px;
}

.t-t-d {
    text-align: right;
    color: #afc4d8;
    font-size: 12px
}

.ticket-detail {
    padding: 15px 30px;
}

.ticket-detail p {
    color: #849bb3;
    line-height: 28px;
    font-size: 15px;
}

.file-attached {
    background: url('/assets/img/bg-at.png') repeat-x;
    height: 45px;
    border: 1px solid #eaf1f6;
    border-radius: 5px
}

.file-single {
    height: inherit;
}

.file-t {
    width: 110px;
    margin-right: 15px;
    float: left;
    height: inherit;
    padding: 13px 0px 13px 20px;
}

.file-t span {
    font-size: 12px;
    color: #92a8be;
}

.file-name {
    padding: 12px 30px 12px 0px;
    float: left;
}

.file-name span a {
    color: #698097;
    font-size: 15px;
}

.ticket-replies {
    border-top: 1px solid #eff3f8;
    margin-top: 25px;
    padding-bottom: 20px;
}

.reply-hide {
    display: none;
}

.single-reply:hover .remove-reply {
    display: block;
}

.remove-reply {
    display: none;
    border: none;
    background: none;
    border-radius: 40px;
    padding: 2px 4px 2px 5px;
    border: 1px solid transparent;
    color: #e24044;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.remove-reply:hover {
    border: 1px solid #e24044;
    cursor: pointer;
}

.remove-reply:focus {
    outline: none
}

.single-reply:hover .edit-reply {
    display: block;
}

.edit-reply {
    display: none;
    border: none;
    background: none;
    border-radius: 40px;
    padding: 2px 4px 2px 5px;
    border: 1px solid transparent;
    color: #263238;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.edit-reply:hover {
    border: 1px solid #263238;
    cursor: pointer;
}

.edit-reply:focus {
    outline: none
}

.reply-form {
    padding: 30px 30px;
}

.reply-form label {
    font-size: 13px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'proxima_nova_bold';
    color: #8198ac;
}

.reply-form textarea {
    height: 120px;
    resize: none;
    border: 1px solid #e6ecf2;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow: hidden;
}

.reply-form textarea:focus {
    border-color: #202F3E;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ticket-info-body {
}

.ticket-info-body table tr:nth-child(2n + 1) {
    background: #f4f9ff;
}

.ticket-info-body table tr {
    height: 55px;
}

.ticket-info-body table tbody tr td,
.ticket-info-body table tbody tr th {
    border-top: 0px;
    padding: 20px 10px 15px 30px;
    color: #8198ac;
}

.ticket-info-body table tbody tr td a {
    color: #8198ac;

}

.ticket-info-body table tbody tr th {
    width: 35%;
    font-weight: normal;
    font-size: 15px;
}

.ticket-info-footer {
    padding: 1px 30px 25px;
}

.all-replies {
    padding: 30px 30px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.all-replies .row {
    margin-right: 0px;
    margin-left: 0px;
}

.single-reply:nth-child(even) {
    background-color: rgb(222, 253, 255);
}

.single-reply {
    padding: 30px;
    margin-bottom: 60px;
    position: relative;
}

.single-reply:last-child {
    margin-bottom: 30px;
}

.single-reply:after {
    position: absolute;
    bottom: -28px;
    left: -31px;
    background: #eff3f8;
    height: 1px;
    width: 107%;
    content: '';
}

.single-reply .media-left,
.single-reply .media > .pull-left {
    padding-right: 20px;
}

.reply-user-img img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.reply-user-img img:focus {
    outline: none;
}

.reply-user-details {
}

.reply-user-details h4 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}

.reply-user-details h4 a {
    color: #202f3e;
    font-size: 19px;
}

.reply-user-details h4 a:focus {
    outline: none;
}

.reply-user-details p.user-role {
    color: #8198ac;
    font-size: 13px;
}

.reply-user-details p.reply-date {
    color: #8198ac;
    font-size: 14px;
}

.reply-box-right {
}

.reply-message {
    margin-top: 20px;
}

.reply-message p {
    color: #8198ac;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    /*white-space: pre;*/
}

.ticket-info-body table tr:nth-child(2n + 1) {
    background: #f4f9ff;
}

.ticket-info-body table tr {
    height: 55px;
}

.ticket-info-body table tbody tr th {
    width: 35%;
    font-weight: normal;
    font-size: 15px;
}

.ticket-info-body table tbody tr td, .ticket-info-body table tbody tr th {
    border-top: 0px;
    padding: 20px 10px 15px 30px;
    color: #8198ac;
}

.ticket-info-body table tbody tr td, .ticket-info-body table tbody tr th {
    border-top: 0px;
    padding: 20px 10px 15px 30px;
    color: #8198ac;
}

.as-n-s, .as-n-u {
    display: inline-block;
    position: relative;
}

.assign-staff-up-box {
    position: relative;
}

/*.assign-staff-up-box:after {
    position: absolute;
    left: 33px;
    bottom: -7px;
    width: 15px;
    height: 15px;
    background: #fff;
    content: '';
    transform: rotate(45deg);
}*/

.up-info-box, .update-status, .update-priority {
    position: absolute;
    top: -357px;
    background: #fff;
    width: 323px;
    height: 280px;
    left: 0px;
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.update-priority {
    overflow: hidden;
    top: -318px !important;
    left: 50%;
    height: 300px !important;
}

.update-status {
    overflow: hidden;
    top: -357px;
    left: -170%;
}

.drop-active {
    visibility: visible;
    top: -297px;
    opacity: 1
}

.up-box-status {
    position: absolute;
    right: 67px;
    top: 21px;
    font-size: 18px;
    color: #ddd;
    display: none;
}

.up-box-cancel {
    position: absolute;
    right: 25px;
    top: 21px;
    font-size: 18px;
    color: #ddd;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.up-box-cancel:hover {
    cursor: pointer;
    color: #FF474C;
}

.up-box-status.active {
    display: block;
}

.up-box-status i.status-success {
    color: #03AC85
}

.up-box-status i.status-error {
    color: #FF474C
}

.up-info-box h3 {
    color: #8198ac;
    margin: 23px 0px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 20px;
}

.up-info-box .media-left,
.up-info-box .media > .pull-left {
    padding-right: 20px;
}

.up-info-box .media-body h4 {
    color: #202f3e;
    font-size: 16px;
    font-weight: 700;
    padding-right: 50px;
    text-transform: capitalize;
}

.up-info-box .media-body p {
    color: #8198ac;
    font-size: 14px;
    font-weight: 400;

}

.up-info-box .media {
    position: relative;
}

.box-form-outer .scroll-bar.vertical {
    width: 14px;
}

.box-form-outer {
    padding: 0px 20px 20px;
    height: 220px;
}

.assign-user-media img {
    width: 40px;
    height: 40px;
    border-radius: 50px;

}

.box-form-outer input[type=radio].assign_user,
.box-form-outer input[type=radio].ticket_status,
.box-form-outer input[type=radio].ticket_priority {
    display: none;
}

.box-form-outer.scrollable .scroll-bar.vertical .thumb {
    background: #BED2E5;
    border-radius: 20px;
}

.box-form-outer.scrollable .scroll-bar.vertical:hover .thumb {
    background: #adc5dc
}

.update-status .media-body, .update-priority .media-body {
    padding: 6px 0px 0px 40px;
}

.box-form-outer input[type=radio].assign_user + span.input_radio,
.box-form-outer input[type=radio].ticket_status + span.input_radio,
.box-form-outer input[type=radio].ticket_priority + span.input_radio {
    position: absolute;
    background: #ebf1f7;
    width: 30px;
    height: 30px;
    display: block;
    top: 0px;
    right: 10px;
    color: #fff;
    padding: 9px 9px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 200px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box-form-outer input[type=radio].ticket_status + span.input_radio,
.box-form-outer input[type=radio].ticket_priority + span.input_radio {
    top: 1px;
    left: 0px;
}

.box-form-outer input[type=radio].assign_user + span.input_radio i,
.box-form-outer input[type=radio].ticket_status + span.input_radio i,
.box-form-outer input[type=radio].ticket_priority + span.input_radio i {
    transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.box-form-outer input[type=radio].assign_user:checked + span.input_radio,
.box-form-outer input[type=radio].ticket_status:checked + span.input_radio,
.box-form-outer input[type=radio].ticket_priority:checked + span.input_radio {
    background: #03ac85;
    color: #fff;
    padding: 9px 9px;
    box-sizing: border-box;
    font-size: 12px;
}

.box-form-outer input[type=radio].ticket_status:checked + span.ticket_pending {
    background: #FF474C;
}

.box-form-outer input[type=radio].ticket_status:checked + span.ticket_reply {
    background: #1a278b;
}

.box-form-outer input[type=radio].assign_user:checked + span.input_radio i,
.box-form-outer input[type=radio].ticket_status:checked + span.input_radio i,
.box-form-outer input[type=radio].ticket_priority:checked + span.input_radio i {
    display: block;
    transform: scale(1);
}

._mCS_1 .mCSB_dragger .mCSB_dragger_bar {
    background-color: red;
}

._mCS_2 .mCSB_dragger .mCSB_dragger_bar {
    background-color: green;
}

.mCSB_dragger_bar {
    background-color: blue;
}

#mCSB_1_scrollbar_vertical .mCSB_dragger {
    height: 100px;
}

#mCSB_1_scrollbar_horizontal .mCSB_dragger {
    width: 100px;
}

.mCSB_1_scrollbar .mCSB_dragger .mCSB_draggerRail {
    width: 4px;
}
